<ul class="nav nav-pills nav-justified nav-langs">
  <li role="presentation" class="active"><a ng-href="#/">PHP</a></li>
  <li role="presentation" class="disabled"><a ng-href="#/">Java</a></li>
  <li role="presentation" class="disabled"><a ng-href="#/">C++</a></li>
</ul>

<div class="panel panel-default">
  <div class="panel-body">
    <div contenteditable="" class="code" ng-model="code"></div>
    <button type="submit" class="btn btn-primary pull-right">Скомпилировать</button>
  </div>
  <div class="panel-footer code" ng-bind="console.output"></div>
</div>
