<div class="fixed fixed-top">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <ul class="nav nav-pills nav-langs">
          <li role="presentation" class="active"><a ng-href="#/">PHP</a></li>
          <li role="presentation" class="disabled"><a ng-href="#/">Java</a></li>
          <li role="presentation" class="disabled"><a ng-href="#/">C++</a></li>
        </ul>
      </div>
      <div class="col-sm-4">
        <button type="submit" class="btn btn-success pull-right compile"><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Запустить</button>
      </div>
    </div>
  </div>
</div>

<div class="container main-body">
  <ui-codemirror ui-codemirror-opts="editorOptions" ng-model="code"></ui-codemirror>
</div>

<div class="footer panel-footer fixed fixed-bottom">
  <div class="container">
    <div class="code" ng-bind="console.output"></div>
  </div>
</div>
