$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  margin-top: $navbar-height;
}

.code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  display: block;
  font-size: 13px;
  line-height: 1.428571429;
  word-break: break-all;
  word-wrap: break-word;

  &:focus {
    outline: 0px solid transparent;
  }
}

.CodeMirror-wrap {
  min-height: calc(100vh - 190px);
}

.fixed {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: $gray-lighter;
  &-top {
    top: $navbar-height;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  &-bottom {
    bottom: 0;
  }
}

.main-body {
  margin-top: (80px + $navbar-height);
}

.panel-footer {
  max-height: 30vh;
  overflow: scroll;
}

.compile {
  margin-top: 3px;
}
