$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.nav-langs {
  margin-bottom: 20px;
}

.code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  display: block;
  font-size: 13px;
  line-height: 1.428571429;
  word-break: break-all;
  word-wrap: break-word;
  &:focus {
    outline: 0px solid transparent;
  }
}
